.cartItem {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.cartImage {
    width: 70px;
    float: left;
    margin-right: 20px;
}

.cartHeading {
    font-size: 20px;
    margin-bottom: 10px;
}

.cartPrice {
    color: #797979;
    font-weight: 600;
}

.cartDeleteImage {
    position: relative;
    color: #ca5252;
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.cartDeleteImage:hover {
    color: #bd3434;
    transform: scale(1.5);
}